- Funcionales
* Administrar lugares de eventos
* Administrar usuarios
* Administrar grupos de usuarios
* Gestionar la fecha y lugar del evento
* Avisar a los usuarios del grupo seleccionado la fecha y lugar del evento
* El usuario decide si participa o no del evento
* Permitir una baja de un usuario confirmado, ante esta baja avisar a los que no pudieron confirmarse para que lo puedan hacer
* Que los usuarios puedan ingresar comentarios tanto del lugar, como en el evento
* Estadisticas de eventos, fiabilidad de usuarios , concurrencia sobre invitaciones, etc.

- No funcionales
* Deploy en Google App Engine
* Integracion con google calendar
* Integración con google maps
* Integracion con redes sociales
